header {
    background-color: #333; /* Couleur de fond du header */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur du header */
    
    div {
      display: flex; /* Flexbox pour aligner les éléments horizontalement */
      justify-content: space-between; /* Espacement égal entre les éléments */
      align-items: center; /* Alignement vertical au centre */
    }
  
    nav {
      display: flex; /* Flexbox pour aligner les liens de navigation horizontalement */
    }

    a{
        text-decoration: none; /* Suppression du soulignement des liens */
        color: #fff; /* Couleur du texte des liens */
        padding: 10px 15px; /* Espacement intérieur des liens */
        margin: 0 5px; /* Marge entre les liens */
        transition: background-color 0.3s ease; /* Transition fluide de la couleur de fond */
        border-radius: 5px; /* Coins arrondis des liens */
    
        &:hover {
            background-color: #555; /* Couleur de fond au survol */
        }
    
        &.active {
            background-color: #555; /* Couleur de fond lorsque le lien est actif */
        }
    }
  
    .mat-tab-link {
      text-decoration: none; /* Suppression du soulignement des liens */
      color: #fff; /* Couleur du texte des liens */
      padding: 10px 15px; /* Espacement intérieur des liens */
      margin: 0 5px; /* Marge entre les liens */
      transition: background-color 0.3s ease; /* Transition fluide de la couleur de fond */
      border-radius: 5px; /* Coins arrondis des liens */
  
      &:hover {
        background-color: #555; /* Couleur de fond au survol */
      }
  
      &.active {
        background-color: #555; /* Couleur de fond lorsque le lien est actif */
      }
    }
  }
  